:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#-Hola {
    background-color: red;
}

.welcome {
  width: 340px;
}

.card-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section-card {
  display: flex;
}



.gift-card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, auto);
  gap: 20px;
}

.gift-card-container-app {
  width: auto;
  padding-right: 300px;
  padding-left: 300px;
  display: grid;
}

.gift-card-img {
  border: 1px solid grey;
  border-radius: 10px;
}

.button {
  margin-right: auto;
}
.button1 {
  margin-left: 9px;
}

.text-card {
  margin-left: 143px;
  margin-right: 10;
}

.services-container {
  width: 412px;
  height: auto;
}

.services-container-app {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.image-services {
  display: flex;
  justify-content: center;
}

.link-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.portada {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.datos-container {
  width: 921px;
}

.visa-container {
  width: 412px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.collapse-container {
  padding: 7px;
}

@media (min-width: 700px) {
  .collapse-container {
    width: 600px;
  }
}

.button-depositar {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.input-depositar {
  display: flex;
  justify-content: center;
}

.item-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 120px;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
}

.image-depositar {
  padding-left: 5px;
}

.collapse-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.collapse-group {
  
  padding-right: 30px;
}

.input-depositar {
height: 70px;
border-radius: 10px;
width: 400px;
border: none;
font-size: 40px;
font-weight: 600;
color:rgb(100, 100, 100);
outline: none;
padding-left: 10px;
padding-right: 10px;
text-align: center;
}
.input-depositar:hover {
  box-shadow: 2px 2px 12px gainsboro
}

.input-depositar-container {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  }

  .button-dep {
    margin-top: 25px;
  }

  .text-depositar {
    margin-left: 10px;
  }